header {
    height: 70px;
    text-align: center;
    text-decoration-style: double;
    font-family: fantasy;
    background-color: whitesmoke;
    padding-bottom: 4px;
    padding-top: 12px;
    
}
nav {
    word-spacing: 30px;
    background-color: lightgrey;
}
main {
    text-align: center;
    pading: 40px 40px;
}

article {
    background-color: whitesmoke;
    font-family: sans-serif;
    line-height: 30px;
    word-spacing: 2px;
    
    
}

footer{
    background-color: lightgrey;
    font-family: cursive;
}