header {
    border: 1px solid black;
    outline-style: groove;
    height: 70px;
    text-align: center;
    text-decoration-style: double;
    font-family: fantasy;
    background-color: whitesmoke;
    padding-bottom: 4px;
    padding-top: 12px;
    
}
nav {
    text-align: center;
    max-height: 30px;
    min-height: 25px;
    word-spacing: 30px;
    background-color: lightgrey;
    margin-top: 2px;
}
main {
    padding: 20px 20px;
}

article {
    text-align: left
    padding: inherit;
    background-color: whitesmoke;
    font-family: sans-serif;
    line-height: auto;
    word-spacing: auto;
}
p {
    padding: 2 4 2 4;
}
footer{
    background-color: lightgrey;
    font-family: cursive;
}
img{
    float: right;
    margin:inherit;
}